@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
    --light-color: #A64D79;
    --light-color2: #fafca1;
    --light-color3: #3B1C32;
    --light-color4: #1A1A1D;
    --light-color5: #161616;
}
.container {
    margin-left: 20px;
    margin-right: 20px;
}
.button {
    padding: 10px 45px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}
.primary {
    background-color: var(--light-color3);
    color: var(--light-color);
   
}
.danger {
    display: block;
    width: 160px;
    margin: 0 auto;
    background-color: var(--danger);
    color: var(--light-color);
}
.header {
    background-color: var(--light-color);
    padding: 15px 0;
}
.menu-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--light-color2);
    border-radius: 10PX;
    text-decoration: none;
    cursor: pointer;
}
    .menu-button svg {
    color: var(--light-color);
}



.mobile-block, .error-block {
    min-height: 100vh;
    padding: 30px 0;
    background-color: var(--light-color2);
}
.title {
    font-size: 28px;
    color: var(--light-color3);
    margin-bottom: 15px;
    font-family: "Montserrat";
}
.news-list {
margin: 10px 0;
}
.news-card {
background-color: var(--light-color);
padding: 10px;
margin-bottom: 15px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.news-card__title {
color: var(--light-color3);
font-family: "Montserrat";
font-size: 20px;
}
.news-card__category {
background-color: var(--light-color3);
color: var(--light-color);
display: inline-block;
padding: 10px;
border-radius: 10px;
font-size: 16px;
}
.news-card__date {
font-size: 16px;
color: var(--light-color5);
}


.news-detail-date {
font-size: 18px;
color: var(--light-color4);
margin-bottom: 20px;
}
.news-detail-img {
width: 100%;
margin-bottom: 20px;
}
.news-detail-description {
font-size: 14px;
color: var(--light-color4);
margin-bottom: 20px;
}
.news-card__category.primary-inverse {
    background-color: var(--light-color3);
    color: var(--light-color);
}
.category-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.category-list_item {
    cursor: pointer;
    display: block;
    text-decoration: none;
    border: 2px solid var(--light-color3);
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}
.category-list_icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.category-list_name {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: var(--light-color4);
}
.category-list_item:hover {
    background-color: var(--light-color);
}
.mb-10 {
    margin-bottom: 10px;
    text-align:  center;
}
.mb-10 svg {
    color: var(--danger);
    text-align: center;
}
.error.title {
    text-align: center;
    color: var(--danger);
}
.center {
    text-align: center;
    margin-bottom: 20px;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .loader {
    width: 100px; /* Измените размер по необходимости */
    height: auto;
  }
  @keyframes loadingAnimation {
    0% {
        background-color: #fafca1;
    }
    50%  {
        background-color: #A64D79;
    }
    100% {
        background-color: #fafca1;
    }
}
.loading {
    padding: 30px 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   
  
}
.loading-row {
    padding: 30px 20px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px
}
.loading-item {
    width: 100px;
    height: 100px;
    background-color: #fafca1;
    border-radius: 10px;
    animation:  loadingAnimation 2s infinite;
}
.loading-title {
    border-radius: 10px;
    background-color: var(--light-color2);
    width: 100%;
    height: 30px;
    animation:  loadingAnimation 2s infinite;
}

.loading-card {
    background-color: var(--light-color2);
    width: 100%;
    height: 120px;
    border-radius: 10px;
    animation:  loadingAnimation 2s infinite;
}

